:root{
    --borderColor:#ddd;
    --contentTitle:#444;
    --marginLeft:20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    background-color: var(--borderColor);
}
.topcontainer{
    margin: auto;
    margin-top: 20px;
    width: 794px;
  
    display: flex;
    justify-content: flex-end;
}

#pdfBtn{
    padding: 5px 40px;
    border: none;
    background: rgb(224, 95, 95);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
}

#pdfBtn:hover{
    box-shadow: 0px 0px 5px 0px gray;
}

.maincontainer{
    width: 794px;
    min-height: 500px;
    max-height: 1123px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.400);
    padding: 30px 0;
    padding-bottom: 50px;
    padding-left: 20px;
}
.header{
   
    width: 100%;
    height: 200px;
    display: flex;
    
    
}

a{
    text-decoration: none;
}

.profileImgContainer{
    width: 200px;
    height: 200px;
    
}
.profileImgContainer img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profileInfosContainer{
    
    height: 100%;
    flex: 1;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aqua;
    color: #fff;
    margin-left: 20px;
    background: linear-gradient(90deg, rgb(20, 185, 56) 0%, rgb(15, 32, 190) 0%, rgba(94,97,223,1) 50%, rgba(148,167,233,1) 94%);
}
.name{
    font-size: 20px;
    font-style: italic;
}
.surname{
    font-size: 15px;
    font-style: italic;
}
.profileInfoText{
    color: rgb(255, 255, 255, 0.7);
    font-style: italic;

    
}


.content {
   
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
    display: flex;
}


.leftContainer{
  
    width: 200px;
    min-height: 100%;
}



.contentContainer{
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;


    
}
.contentContainer i{
  font-size: 16px;
}
.contentContainer .fa-envelope{
    color:rgb(231, 22, 92);
} 

.contentContainer a{
    font-size: 15px;
    color: black;
    font-style: italic;
}
.contentContainer .fa-location-dot{
    color: brown;
}
.contentContainer span{
    font-size: 15px;
    font-style: italic;
}
.contentContainer, .fa-solid{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}


#linkedin i{
    color: blue;
}
.leftSectionTitle{
    font-size: 16px;
    margin: 10px 0px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    text-align: center;
    font-style: italic;
}

.skilssContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skillBox{
    background-color: rgb(114, 109, 109);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-style: italic;
    font-weight: 500;

}
.languagesContainer{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.languagesTitle{
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
}
.languagesDetail{
    font-size: 12px;
    color: #999;
    padding-left: 5px;
}

/* CONTENT RİGHT */

.marginTop30{
    margin-top: 30px;
}


.marginTop10{
    margin-top: 10px;
}

.marginTop5{
    margin-top: 5px;
}
.marginTop30{
font-style: italic;}

.rightContainer{

    min-height: 300px;
    flex: 1;
    padding: 0 20px;
    
}


.contentComponent{
    border-left: 5px solid;
    padding-left:20px;
    margin-top: 10px;
    border-color: #0072b1;
}

.componentTitle{
    font-size: 18px;
    border-bottom: 1px solid var(--contentTitle);
    color: var(--contentTitle);
    font-style: italic;
    text-align: center;
    padding-bottom: 12px;
}
.componentItemTitle{
    font-size: 15px;
    color: var(--contentTitle);
    font-style: italic;
}
.componentItemSubTitle{
    font-size: 15px;
    color: var(--contentTitle);
}
.languagesContainer{
    text-align: center;
}
.languagesTitle{
    font-style: italic;
}
.componentItemInfo{
    font-size: 12px;
    color: var(--contentTitle);
}
.componentItemDescription{
    font-size: 10px;
    color: var(--contentTitle);
    font-style: italic;
}
.contentu1{
    padding-left: 30px;
}
